                </div>
            </div>
        </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{$BOOTSTRAP}/more/js/jquery.min.js"></script>
    <script src="{$BOOTSTRAP}/js/bootstrap.min.js"></script>
    <script src="{$BOOTSTRAP}/more/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{$BOOTSTRAP}/more/js/ie10-viewport-bug-workaround.js"></script>
    
    </body>
</html>